{% extends "layout.html" %}

{% block body %}

  <form method="POST">
    {{ form.hidden_tag() }}
    <table>
      <tbody>
        <tr>
          <td style="text-align: right;">{{ form.port.label }}</td>
          <td>&nbsp;{{ form.port }}</td>
        </tr>
        <tr>
          <td>{{ form.allow.label }}</td>
          <td>{{ form.allow }}</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;{{ form.submit }}</td>
        </tr>
      </tbody>
    </table>
  </form>

{% endblock body%}